body {
    font-family: 'Calibri', 'Trebuchet MS';
    font-size: 16px;
    min-height: 100vh;
    margin: 0% ;
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    border: 3px solid #3c3c3b;
    border-radius: 12%;
    padding: 20px;
    background-color: #89c82e;
    display: flex;
    padding-bottom: 5px;
}

ul{
    text-align: center;
    padding-left: 0%;
    margin: auto;
}

li{
    list-style-type: none;
    margin-top: 15px;
}

.label {
    padding-right: 6px;
    justify-self: flex-start;
}
.input {
    float: right;
    width: 16em
}

.input:valid{
    background-color: lightgreen;
}

#card:valid {
    background-color: white;
}

input:not(:focus):not(:placeholder-shown):invalid{
    background-color: lightpink;
}

#submit{
    background-color: #e70064;
    border: 1px solid #3c3c3b;
    border-radius: 10%;
    margin: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

#submit:hover{
    background-color: #f5569b;
}

#submit:active {
    background-color: #700031;
}

